<div class="linkedin">
    <header class="linkedin_header">
        <nav class="nav">
            <form class="form-inline my-2 my-lg-0">
                 <img src="/assets/linkedin.png" alt="" class="img_linkedin">
                <div class="dropdown">
                    <button class="btn btn dropdown-toggle people" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         People
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button">jobs</button>
                        <button class="dropdown-item" type="button">people</button>
                        <button class="dropdown-item" type="button">learning</button>
                    </div>
                </div>
                    <input class="form-control" type="text" placeholder="The Code" aria-label="Search">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn  my-sm-0 search" type="submit"><i class="bi bi-search"></i></button>
                        <button class="btn join">Join Now</button>
                        <button type="button" class="btn btn-outline-primary sign">Sign in </button>
            </form>
        </nav>  
    </header>
    <!-- ----seaction------ -->
    
</div>
<main class="main" id="main-content">
    <!-- -------1------- -->
    <section class="core-rail">
        <div class="details"> 
            <h4 class="title">The Code Hubs' Post</h4>
            <section class="section_1">
                <div class="share-update-card">
                    <header class="share-update-card-header">
                  
                            <img src="../assets/3.jpg" class="img_3" alt="">
              
                        <div class="share-update-card__actor-info">
                            <h5 class="share-update-card__actor-text">The Code Hubs</h5>
                            <p class="share-update-card__actor-headline">Owner At the Code Hubs</p>
                            <p  class="share-update-card__actor-headline">1d</p>
                        </div>
                        <!-- <div class="ellipsis-menu share-update-card__ellipsis-menu">
                            <div class="collapsible-dropdown">
                                <button class="btn ">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                            </div>
                        </div> -->
                    </header>
                   
                    <!-- ----icon--- -->
                    <!-- <div class="ellipsis-menu share-update-card__ellipsis-menu">
                            <div class="collapsible-dropdown">
                                <button class="btn ">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                            </div>
                    </div> -->
                    <div class="card_text">
                      <p >A big salute to all the nurses for their bravery, selflessness, and unwavering care! Even in the unfortunate times, they consistently provided their relentless services, and their efforts were truly marvelous and praiseworthy.
                        This International Nurse Day, let's thank them for their immense contribution to society.</p>
                        <a href="">#internationalnursesday #empathy #care #happynurseday #nurselife #hospital #suratithub #visioninfotech</a>
                       
                    </div>
                    <ul class="share-images ">
                        <li class="share-images__image-container">
                            <img src="../assets/4.jpg" class="img_4" alt="">
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </section>

    <!-- -------2------ -->
    <section class="right-rail ">
        <section class="section ">
            <div class="section author-profile-card ">
                <figure class="cover-img">
                    <div class="cover-img__image-frame"> 
                        <div class="cover-img__image-position">
                            <img src="../assets/5.svg" class="cover-img__image" alt="">
                        </div>
                    </div>
                </figure>
               
                <div class="pl-3">
                    <img src="../assets/3.jpg" class="img_3_2" alt="">
                    <br>
                    <p class="share-update-card__actor-headline">1,229 followers</p>
                    <a href="">183 post . 0 Articles</a>
                    <br>
                    <h3 class="view_profile">View profile <span><button type="button" class="btn btn-outline-secondary follow ml-4 pl-2 "> + follow</button>
                    </span></h3>
                </div>
               
            </div>
        </section>
    </section>
</main>
